<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>empdeptmgr</h1>
        <table border="'">
            <tr>
                <th>employee name</th>
                <th>manager name</th>
                <th>dept name</th>
                <th>dept no</th>
                <th>job</th>
            </tr>
            {% for emd in EDMJD %}
            <tr>
                <td> {{emd.ename}} </td>
                <td> {{emd.mgr.ename}} </td>
                <td> {{emd.deptno.dname}} </td>
                <td> {{emd.deptno.deptno}} </td>
                <td> {{emd.job}} </td>
            </tr>


            {% endfor %}
        </table>
    </center>
</body>
</html>